# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
envproject/

# Environment variables
.env

# Logs
*.log

# Database SQLite (nếu không muốn đẩy lên)
db.sqlite3

# Hệ thống
.DS_Store
Thumbs.db
