table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}